
.align{
	color: white;
 	font-weight: 700; 
 	font-size :110%;
 	background-color: none;
}

.grid {
	
  width: 950px;
  height: 600px;
}

.header-filtered {
  color: blue;
}

/* th  */
/* { */
/*     background-color: #338dcd; */
/*     color: white; */
/* } */
 
   
  .myGrid {
width: 500px;
height: 200px;
}

/* to display hot jobs table */

.table-box {
    border-collapse: separate;
    border: 2px solid #ddd;
}
  
.table-radius {
	
	    border-radius: 5px;
}

#heighttable tr td {height:30px; border:1px solid grey;}


/*  // for help tab */
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: rgba(128, 128, 128, 0.17);
      color: black;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
    
 
 
 .addScroll{
 width: 1150px !important;
 overflow: auto; height: 315px;
}

.removeScroll {
	
}



.select-wrapper{
    border: 0px;
    border-radius: 0px;
}
select.no-radius{
    border:none;
}