<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    
    <script data-semver="1.4.9" src="https://code.angularjs.org/1.4.9/angular.js" data-require="angular.js@1.4.x"></script>
    <script src="https://rawgit.com/szimek/signature_pad/adca0a1df8dece8419216905fa1926d9b41cb810/signature_pad.js"></script>
    <script>
    var app = angular.module('plunker', []);

    app.controller('MainCtrl', function($scope) {
      $scope.restore = function() {
        var dataurl = $scope.accept().dataUrl;
        $scope.clear();
        $scope.storedSignature = dataurl;
      }
    });

    app.directive('signaturePad', ['$window',
      function ($window) {
        'use strict';

        var signaturePad, canvas, element, EMPTY_IMAGE = 'data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=';
        return {
          restrict: 'EA',
          replace: true,
          template: '<div class="signature"><canvas></canvas></div>',
          scope: {
            accept: '=',
            clear: '=',
            dataurl: '=',
            height: '@',
            width: '@'
          },
          controller: [
            '$scope',
            function ($scope) {
              $scope.accept = function () {
                var signature = {};

                if (!$scope.signaturePad.isEmpty()) {
                  signature.dataUrl = $scope.signaturePad.toDataURL();
                  signature.isEmpty = false;
                } else {
                  signature.dataUrl = EMPTY_IMAGE;
                  signature.isEmpty = true;
                }

                return signature;
              };

              $scope.clear = function () {
                $scope.signaturePad.clear();
              };

              $scope.$watch("dataurl", function (dataUrl) {
                if (dataUrl) {
                  $scope.signaturePad.fromDataURL(dataUrl);
                }
              });
            }
          ],
          link: function (scope, element) {
            canvas = element.find('canvas')[0];

            scope.onResize = function() {
              var canvas = element.find('canvas')[0];
              var ratio =  Math.max($window.devicePixelRatio || 1, 1);
              canvas.width = canvas.offsetWidth * ratio;
              canvas.height = canvas.offsetHeight * ratio;
              canvas.getContext("2d").scale(ratio, ratio);
            }

            scope.onResize();

            scope.signaturePad = new SignaturePad(canvas);

            angular.element($window).bind('resize', function() {
                scope.onResize();
            });
          }
        };
      }
    ]);


    </script>
  </head>

  <body ng-controller="MainCtrl">
    <p>Test:</p>
    <signature-pad dataurl="storedSignature" accept="accept" clear="clear" height="220" width="568"></signature-pad>
    <button ng-click="clear()">Reset</button>
    <button ng-click="restore()">Clear and restore</button>
  </body>

</html>